@charset "UTF-8";
body {
  margin: 0 auto;
  background-color: rgb(216,255,204);
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
li {
  list-style-type: none;
}
/*フッター*/
header {
  background-color: rgb(101,203,0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  height: 70px;
  width:100%;
}
.fixed{
  position: fixed;
    z-index: 999;
    top:0;
    left:0;
}
.title {
  margin-left: 40%;
  margin-right: auto;
}
.menu {
  display: inline;
  padding: 0 15px;
}
.globalMenuSp a{
  text-decoration: none;
  color: rgb(67, 97, 38);
}
/*メイン*/
article {
  margin-right: auto;
  margin-left: 29%;
  padding: 10px;
}
aside {
  text-align: left;
  padding: 10px;
}
.noticefont {
  background-color: rgb(164,174,164);
}
.notice {
  background-color: rgb(94, 183, 91);
  border: none;
}
.notice  p {
  color: rgb(241, 75, 75);
}
.notice  a{
  color: rgb(7, 3, 3);
  display: block;
  text-decoration: none;
}
.mainarea {
  display: flex;
  justify-content: center;
}
.titleh2 {
  margin-top: 5%;
  margin-bottom: 2%;
  text-align: center;
}
.contentmenu {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.borderLeft {
  border-top: 3px solid rgb(34, 34, 30);
  border-left: 3px solid rgb(34, 34, 30);
  width: 43px;
  height: 43px;
  transform: rotate(-45deg);
  margin-top: 4px;
  margin-left: 4px;
}
#mess {
  position: absolute;
  font-size: 25px;
  color: 	Lime;
  font-weight:bold; 
}
.borderRight {
  border-top: 3px solid rgb(34, 34, 30);
  border-left: 3px solid rgb(34, 34, 30);
  width: 43px;
  height: 43px;
  transform: rotate(-225deg);
  margin-top: 4px;
  margin-left: 4px;
}
.Imgup {
  background-color: #fff;
  border: black 2px solid;
  border-radius: 10px;
}
.imgsize {
  width: 400px;
  height: 400px;
  position: relative;
}
.open {
  display: none;
}
/*その他*/
section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.itemgroup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Otheritems {
  margin-left: 5%;
  margin-right: 5%;
  width: 300px;
  height: 300px;
}
.Otheritems img {
  width: 296px;
  height: 120px;
}
.Otheritems a {
  text-decoration: none;
  color: rgb(101,203,0);
  font-weight: bold;
}
.openpc {
  display: flex;
}
/*フッター*/
.footerarea {
  background-color: rgb(101,101,101);
  text-align: center;
  margin: 0;
  padding: 10px;
}
.marginp {
  margin: 3%;
}
/* sns-box*/
.sns-box {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 10%;
  margin-left: 35%;
  margin-right: 35%;
  border: rgb(34, 34, 30) 2px solid;
  background-color: snow;
  border-radius: 10px;
}
.sns-box iframe {
  margin-top: 5px;
}
.sns-box a {
  margin-top: 5px;
}
#manifest {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30%;
}
#manifest h2 {
  margin: 1%;
}
#manifest p {
  margin: 1%;
}
#manifest select {
  background-color: snow;
  border: #000 1px solid;
}
#manifest button {
  margin: 1%;
  background-color: rgb(101,101,101);
  border: #000 2px solid;
}
#Gaha {
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
#mess {
  text-decoration: none;
}
/*game.html*/
.itemarticle {
  background-color: rgb(255, 255, 255);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.itemarticle h2 {
  text-align: center;
  border-bottom: rgb(14, 63, 221) 2px solid;
  margin: 20px;
}
.itemarea {
  margin: 5%;
  background-color: rgb(190, 255, 241);
  text-decoration: none;
}
.itemarea p{
  color: rgb(152, 165, 207);
  font-size: 20px;
}
.itemarea img {
  width: 80px;
  height: auto;
}
.itemareao {
  display: flex;
}
/*notice.html*/
.noticearea {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
}
.noticearea h2{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-block-end: aqua 2px solid;
}
.noticearea p {
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: auto;
}
.noticearea img {
  width: 100px;
  height: 100px;
}
/* スマホスタイル*/ 
/*　ハンバーガーボタン　*/
  @media (max-width: 599px) {
    #Gaha {
      width: 300px;
      height: auto;
    }
    .sns-box {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 30%;
      margin-bottom: 55%;
      margin-left: 15%;
      margin-right: 15%;
    }
    .openpc {
      display: none;
    }
    .Otheritems img {
      height: 62px;
    }
    .mainarea {
      display: block;
      justify-content: center;
    }
    .contentmenu {
      display: block;
    }
    .imgsize {
      width: 300px;
      height: 300px;
      position: relative;
    }
    #mess {
      top: 32%;
      left: 23%;
      right: 20%;
      position: absolute;
      font-size: 30px;
      color: 	Lime;
      font-weight:bold; 
    }
    .noticefont {
      font-size: 25px;
      background-color: rgb(216,255,204);
    }
    .notice {
      margin-left: 18%;
      margin-right: 18%;
      text-align: center;
      background-color: #fff;
      border: black 2px solid;
    }
    section {
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    aside {
      text-align: center;
      padding: 10px;
    }
    article {
      margin-right: auto;
      margin-left: auto;
      padding: auto;
    }
    .itemgroup {
      display: block;
      justify-content: center;
      align-items: center;
      margin: 5%;
    }
    .Otheritems {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%;
      margin-top: 5%;
      width: 300px;
      height: 100px;
    }
    .title {
      margin-left: auto;
      margin-right: auto;
    }
    .borderLeft {
      display: none;
    }
    .borderRight {
      display: none;
    }
    .menu {
      display: block;
    }
    .open {
      display: block;
    }
    .door {
      margin-bottom: 5%;
      margin-top: 5%;
      text-align: center;
      background-color: #555;
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      height: auto;
      text-decoration: none;
      color: rgb(34, 34, 30);
    }
    .hamburger {
      display : block;
      position: fixed;
      z-index : 3;
      right : 13px;
      top   : 12px;
      width : 42px;
      height: 42px;
      cursor: pointer;
      text-align: center;
    }
    .hamburger span {
      display : block;
      position: absolute;
      width   : 30px;
      height  : 2px ;
      left    : 6px;
      background : #555;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition   : 0.3s ease-in-out;
      transition        : 0.3s ease-in-out;
    }
    .hamburger span:nth-child(1) {
      top: 10px;
    }
    .hamburger span:nth-child(2) {
      top: 20px;
    }
    .hamburger span:nth-child(3) {
      top: 30px;
    }
    
    /* ナビ開いてる時のボタン */
    .hamburger.active span:nth-child(1) {
      top : 16px;
      left: 6px;
      background :#fff;
      -webkit-transform: rotate(-45deg);
      -moz-transform   : rotate(-45deg);
      transform        : rotate(-45deg);
    }
    
    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
      top: 16px;
      background :#fff;
      -webkit-transform: rotate(45deg);
      -moz-transform   : rotate(45deg);
      transform        : rotate(45deg);
    }
    
    nav.globalMenuSp {
      position: fixed;
      z-index : 2;
      top  : 0;
      left : 0;
      color: #fff;
      background: rgba(204,255,153,0.7);
      text-align: center;
      width: 100%;
      opacity: 0;
      transition: opacity .6s ease, visibility .6s ease;
    }
    
    nav.globalMenuSp ul {
      margin: 0 auto;
      padding: 0;
      width: 100%;
    }
    
    nav.globalMenuSp ul li {
      padding: 0;
      width: 100%;
      transition: .4s all;
    }
    nav.globalMenuSp ul li:last-child {
      padding-bottom: 0;
    }
    nav.globalMenuSp ul li:hover{
      background :#ddd;
    }
    
    nav.globalMenuSp ul li a {
      display: block;
      color: rgb(56, 54, 54);
      padding: 1em 0;
      text-decoration :none;
    }
    
    /* このクラスを、jQueryで付与・削除する */
    nav.globalMenuSp.active {
      opacity: 100;
    
    }
  }
  /*タブレットスタイル*/
  @media screen and (min-width:600px) and ( max-width:959px) {
    #Gaha {
      width: 600px;
      height: auto;
    }
    .sns-box {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 30%;
      margin-bottom: 30%;
      margin-left: 25%;
      margin-right: 25%;
      border: rgb(34, 34, 30) 2px solid;
      background-color: snow;
    }
    article {
      margin-right: auto;
      margin-left: auto;
      padding: auto;
    }
    .title {
      margin-left: auto;
      margin-right: auto;
    }
    .hamburger {
      display : block;
      position: fixed;
      z-index : 3;
      right : 13px;
      top   : 12px;
      width : 42px;
      height: 42px;
      cursor: pointer;
      text-align: center;
    }
    .hamburger span {
      display : block;
      position: absolute;
      width   : 30px;
      height  : 2px ;
      left    : 6px;
      background : #555;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition   : 0.3s ease-in-out;
      transition        : 0.3s ease-in-out;
    }
    .hamburger span:nth-child(1) {
      top: 10px;
    }
    .hamburger span:nth-child(2) {
      top: 20px;
    }
    .hamburger span:nth-child(3) {
      top: 30px;
    }
    
    .hamburger.active span:nth-child(1) {
      top : 16px;
      left: 6px;
      background :#fff;
      -webkit-transform: rotate(-45deg);
      -moz-transform   : rotate(-45deg);
      transform        : rotate(-45deg);
    }
    
    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
      top: 16px;
      background :#fff;
      -webkit-transform: rotate(45deg);
      -moz-transform   : rotate(45deg);
      transform        : rotate(45deg);
    }
    
    nav.globalMenuSp {
      position: fixed;
      z-index : 2;
      top  : 0;
      left : 0;
      color: #fff;
      background: rgba(204,255,153,0.7);
      text-align: center;
      width: 100%;
      opacity: 0;
      transition: opacity .6s ease, visibility .6s ease;
    }
    
    nav.globalMenuSp ul {
      margin: 0 auto;
      padding: 0;
      width: 100%;
    }
    
    nav.globalMenuSp ul li {
      padding: 0;
      width: 100%;
      transition: .4s all;
    }
    nav.globalMenuSp ul li:last-child {
      padding-bottom: 0;
    }
    nav.globalMenuSp ul li:hover{
      background :#ddd;
    }
    
    nav.globalMenuSp ul li a {
      display: block;
      color: rgb(56, 54, 54);
      padding: 1em 0;
      text-decoration :none;
    }
    nav.globalMenuSp.active {
      opacity: 100;
    
    }
  }
  /*デスクトップスタイル*/
  @media screen and (min-width:960px) and ( max-width:1280px) {
    #Gaha {
      width: 500px;
      height: auto;
    }
    .sns-box {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 10%;
      margin-bottom: 30%;
      margin-left: 35%;
      margin-right: 35%;
    }
  }
  /*横幅の広いデスクトップスタイル*/
  @media screen and (min-width:1281px) {
    #Gaha {
      width: 500px;
      height: auto;
    }
    .sns-box {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 30%;
      margin-bottom: 55%;
      margin-left: 40%;
      margin-right: 40%;
    }
  }